/* Príncipal */



  /* opçoes de links */

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;

}

body {
    background-color: black;
}

header {

    background-color: rgb(0, 15, 48);
    display: flex;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
    height: auto;
    width: auto;

}

header ul {

    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
    text-align: center;
    align-items: center;
    margin-top: 25px;
    margin-right: 15px;
 

}

header ul a {

    text-decoration: none;
    color: goldenrod;
    font-size: 20px;

}

header figure img {

    width: 70px;
    height: auto;
    display: flex;

}






/* ajuste da imagem da equipe */

#imgequipe {

    height: 400px;
    width: auto;
    background-image: url("../img/equipe.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

#imgequipe h3 {

    bottom: 10px;
    left: 10px; 
    color: goldenrod;
    font-size: 20px;
    padding: 5px 10px;

}





/* inicio do Carrosel */

#carrosel {

    max-width: 100%;
    margin: 30px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

#carros {

    max-width: 400px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: double;
    border-color: goldenrod;

}



/* Mini Intro da Clínica */


#introducao {

    margin: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 20px;
    color:white;

}

#intro-info {

    padding: 10px;
    font-size: 16px;
    text-align: justify;
    margin-right: 20px;
    width: 85%;;
    background-color: rgb(77, 77, 77);
    border-radius: 5px;
}

#intro-info h4 {

    font-size: 20px;
    margin-bottom: 15px;

}

#funcionarios {

    padding: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 15%;
    gap: 10px;;
    background-color: rgb(82, 82, 82);
    border-radius: 5px;
    
}

#funcionarios article {

    text-align: left;

}

#funcionarios h6 {

    font-size: 20px;

}

/* Footer */

footer {

    background-color: rgb(0, 15, 48);
    color: goldenrod;
    display: flex;
    justify-content: center;
    font-size: 15px;
    gap: 50px;
    padding: 10px;
    margin-top: 30px;

}